
body{
    
    /* background-color:#869ffa;  */
    background-color:#04060D ;        
    display: flex;                                                      
    flex-direction: column;
    align-content: center ;
    justify-content: center;
    font-family: 'Acumin Pro', sans-serif;
    /* height: 100vh; */
    /* text-align: center; */
} 

a{
    text-decoration: none;
    color: antiquewhite;
}
header{
    display: flex;
    height: 50px;
    justify-content: space-around;
    /* background-color: yellowgreen; */
    align-items: center;
    /* padding: 10px; */
}
.logo{
    color: #ededed;
    display: flex;
    align-items: center;
    
}
nav a{
    font-weight: 400;
    align-items: center;
    padding-right: 100px;
    transition: color 0.5s ease;
}
nav a:hover{
    color: rgb(6, 6, 110);
}



/* .hero {
    background-image: url("../img/trebolb.png");
    background-size: 1000px 700px; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
} */




/* 
.hero {
    background-image: url("../img/trebolb.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    color: white; 
    text-align: center;
}

.thero {
    margin: 0; 
    padding: 20px; 
    
}

.nombre {
    margin: 0; 
    padding: 20px; 
   
    
} */











.hero{
    background-image: 
    url("../img/trebolb.png");
    background-size: 600px,600px;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-top: 500px; */
     height: 100vh; 
}

.thero{
    font-weight: 300;
    padding-top: 100px;
    font-size: 70px;
    text-align: center;
    
    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;




}
.nombre{
    font-weight: 400;
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
    color: #F2F2F2;
}

.lb{
   
    background-color: #ededed;
}

.bl{
    font-size: 50px;
    color: #04060D;
    text-align: center;
}



.acerca{
    color: #ededed;
     /* background-color: yellow;  */
    height: 100vh;
}

.acer{
    font-size: 30px;
    text-align: center;
    font-weight: 100;
}


.about{

    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    padding-top: 30px;
    /* padding-bottom: 10px; */
    text-align: center;
}



.exp{
    color: #ededed;
    height: 200px;
}
.texp{
    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 80px;
}


.experiencia{
    color: #ededed;
    display: flex;
    justify-content: space-between;
}
/* .hexp{
    text-align: center;
    justify-content: space-between;
} */


.skills{
    color: #ededed;
    /* background-color: blueviolet; */
    height: 50vh;
}
.hskills{

    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    font-size: 80px;
}
.h-skills{
    text-align: center;
    font-size: 40px;
    padding-top: 15px; 
    
}





.container{
    color: black; 
/* background-color: brown; */
padding: 20px;
/* border: 1px solid black; */
display: flex;
text-align: center;
justify-content: center;
height: 100px;
/* flex-wrap: wrap; */
}


.item{
    background-color: aliceblue;
    border: 0.5px solid white;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    /* justify-content: center; */
    padding-bottom: 10px;
    margin: 15px;
    width: 250px;
    /* height: 80px; */
}



.pr{
    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 15px;
    font-size: 80px;
    text-align: center;
}





footer {
    
    padding: 20px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Espacio a los lados del footer */
}

.itemf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemf img {
    margin-right: 10px;
}

.itemf p {
    color: #ededed;
    font-size: 20px;
    margin: 0;
}

.contact h2{
    background-image: linear-gradient(to right,#8594eb ,#e4a321  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    /* background-color: blueviolet; */
    padding-left: 350px;
    width: 600px;
    text-align: center;
}
form .input-box{
    /* background-color: teal; */
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 48.5%;
}

.field .items{
    width: 100%;
    padding: 18px;
    background-color: transparent;
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px o;
}
.field items::placeholder{
    color: rgba(255,255 ,255,.3);
}
form .textarea-field .items{
    resize: none;
}










/* .submit{
    transition: color 0.5s ease;
}


.submit:hover{
    color: rgb(6, 6, 110);
} */

.submit{
    padding-left: 10vh;
}

form button {
    
    padding: 12px 30px;
    background-color: gray;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    color: white;
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
    transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

form button:hover {
    background-color: rgb(6, 6, 110); /* Nuevo color al hacer hover */
}



.ft{
    color: white;
    font-size: 60px;
    text-align: center;
}




.pp {
    /* padding-right: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh; /* Ajuste a toda la ventana gráfica */
    width: 80%;
    border-radius: 100px;
    background-color: #0F2859;
}
/* #0F2859 */

.proyect {
    display: flex;
    align-items: center;
    background-color:#0460D9 ;
    margin: 15px;
    padding: 20px;
    width: 80%;
    height: 30vh;
    border-radius: 60px;
    color: white; /* Color del texto */
}

.ip {
    max-width: 300px;
    border: 3px solid #ededed;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box {
    color: white;
    text-align: left; /* Alineación del texto a la izquierda */
}

.tp{
    font-size: 30px;
}



.acerca .utn {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

 /*#04060D*/



/*resposive para 1440*/


 @media (min-width:1440px){
 header{
        min-width: none;
        
    }
 
.acer{
    font-size: 30px;
}


.hexp{
    padding-left: 15vh;
    
    /* justify-content: space-between; */
}

.hexp1{
   
    padding-right: 35vh;
    /* justify-content: space-between; */
}

.pp{
    margin-left: 10vh;
    width: 60%;
}
/* .contact{
    padding-right: 8vh;
} */

.ft{
    padding-right: 15vh;
}
.footer{
    justify-content: space-between;
}

}  



